.columnValor
	display flex
	-webkit-flex-direction row 
	-ms-flex-direction row 
	flex-direction row
	
	div
		padding 0 50px
	
	img
		display block
		margin-bottom 25px 
	
	p
		color white 
		text-align left
	
	+below($mobile)
		flex-direction column
		-webkit-align-items center 
		align-items center 