.heroUnit
  wrapped()
  height 100vh
  text-align center
  align-items center
  background url('/img/heroUnit.png') center no-repeat
  background-size cover
  justify-content center
  display flex
  
  h1
  	text-transform uppercase 
  	color $white
  
  +below($mobile)
    h1
      line-height 40px   