// ======================================================//
// VENDOR
// ======================================================//
@import 'vendor/normalize'
@import 'vendor/lost'
@import 'vendor/featherlight'

// ======================================================//
// BASE
// ======================================================//
@import 'base/body'
@import 'base/boxModel'
@import 'base/figure'

// ======================================================//
// UTILITY
// ======================================================//
@import 'utility/mixins'
@import 'utility/colors'
@import 'utility/typography'
@import 'utility/variables'
@import 'utility/row'

// ======================================================//
// LAYOUT
// ======================================================//
// @import 'layout/index.styl'

// ======================================================//
// MODULE
// ======================================================//
@import 'module/mainHeader'
@import 'module/mainNav'
@import 'module/logo'
@import 'module/heroUnit'
@import 'module/halfColumn'
@import 'module/propuesta'
@import 'module/servicios'
@import 'module/nosotros'
@import 'module/logosMarcas'
@import 'module/contacto'
@import 'module/footer'
@import 'module/columnValor'
@import 'module/clientes'
// @import 'module/logo'
// @import 'module/highlightsList'
// @import 'module/priceList'
// @import 'module/contactForm'
// @import 'module/faqContainer'
// @import 'module/testimonies.styl'
// @import 'module/formulario.styl'

// ======================================================//
// SHAME SECTION
// ======================================================//